@keyframes borderAnimation {
    0% {
        width: 0;
        left: 0;
    }

    100% {
        width: 100%;
        left: 0;
    }
}

.animate-border {
    animation: borderAnimation 1s ease-in-out;
}